@font-face {
  font-family: Zabra;
  src: url(/fonts/zabars/Zabars.ttf);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("img/Westernbackground.png");
    font-family: Zabra;
    margin: 0;
    }

    h1{
        font-size: 60px;
         letter-spacing: 2px;
    }

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }

    h1{
        display: none;
    }
}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
    }
}

